@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

html {

    scroll-behavior: smooth;

}

body {

  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;

}

.navbar {

    background-color: #513929;
    display: flex;
    justify-content: center;
    position: fixed;
    justify-self: center;
    width: 100%;

}

.navbar .tab {

    padding: 20px 50px;
    color: #F3DFCA;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;

}

.navbar .selected {

    background-color: #6F3602;
    border-bottom: #F3DFCA;
    border-bottom-style: solid;
    border-bottom-width: 0.75rem;

}

.navbar a {

    text-decoration: none;

}

main {

    background-color: #F3DFCA;
    padding-top: 5rem;

}

section {

    margin: 0 42rem;
    scroll-margin-top: 8rem;

}

#title {

    color: #5A321C;
    font-size: 4rem;
    margin: 0;
    justify-self: center;
    padding-top: 5rem;

}

h2 {
    
    color: #4A4745;
    
}

hr {

    height: 0.10rem;
    background-color: #4A4745;

}

#about-me {

    text-align: justify;
    font-size: 1.25rem;

}

#about-me img {

    float: left;
    width: auto;
    height: 20rem;
    margin-right: 1.25rem;
    border: #4A4745 solid .65rem;
    border-radius: 10px;

}

#about-me .list-title {

    margin-bottom: 0;

}

#about-me .list {

    display: flow-root;
    margin-top: 0;

}

#about-me li {

    list-style-type: circle;

}

#skills {

    text-align: justify;
    font-size: 1.25rem;

}

#skills strong {

    font-weight: 600;

}

#skills .list {

    list-style-type: circle;

}

#certificates {

    text-align: justify;
    font-size: 1.25rem;

}

#certificates .list {

    list-style-type: circle;

}

#certificates .list i {

    font-weight: 500;

}

#projects {

    text-align: justify;
    font-size: 1.25rem;

}

#projects strong {

    font-weight: 600;

}

#projects .project {

    margin-bottom: 0;

}

#projects .role {

    margin: 0;

}

#projects .description {

    margin-top: 0;

}

#contact {

    text-align: justify;
    font-size: 1.25rem;
    padding-bottom: 5rem;

}

#contact .list {

    list-style-type: circle;
    margin-bottom: 0;

}